@font-face {
    font-family: "Inconsolata_Expanded-Light";
    src: url(../fonts/Inconsolata_Expanded-Light.ttf);
}

@font-face {
    font-family: "Poppins Bold";
    src: url(../fonts/Poppins-Bold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inconsolata_Expanded-Light";
}

img {
    display: block;
    width: 100%;
}

.main-header {
    padding: 0 20px;
}

.main-header__title {
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: #454546;
    font-family: "Poppins Bold";
}

.main-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__link {
    color: #333;
}

/* Menu Styles */
.main-nav {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 3;
}

.menu {
    position: absolute;
    top: 200px;
    left: 0;
    background: #212121;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    text-align: center;
    margin: auto;
}

.menu__link {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: block;
}

.menu__link:hover {
    background-color: #fff;
    color: #212121;
}

.mostrar  {
    opacity: 1;
    visibility: visible;
}

.icon-menu {
    font-size: 1.5em;
    border: 1px solid #454546;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto;
}

.main-header__btn {
    display: block;
    padding: 10px 20px;
    color: #454546;
    border: 1px solid #454546;
    text-decoration: none;
    font-family: 'Inconsolata_Expanded-Light';
    text-transform: uppercase;
}

.main-header__input {
    display: block;
    padding: 9px;
    width: 50%;
}

.main {
    padding: 0 20px;
}

/* SLIDER */

.container-slider {
    width: 90%;
    max-width: 900px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff, 0 15px 50px; 
    position: relative;
}

.slider {
    display: flex;
    width: 500%;
    height: 300px;
    margin-left: 0%;
    position: relative;
}

.slider:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

.slider__section {
    width: 100%;
    position: relative;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.slider__btn:hover {
    background-color: #fff;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.slider__content {
    position: absolute;
    top: 50%;
    left: -7%;
    transform: translate(50%, -50%);
    color: #fff;
    width: 60%;
    text-align: center;
    z-index: 2;
}

.slider__title {
    font-size: 2.2em;
    margin: 0;
}

.slider__txt {
    margin: 5px 0;
}

.btn-shop {
    display: block;
    border: 1px solid #FF4E00;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    margin: 10px auto;
    transition: all 0.5s;
}

.btn-shop:hover {
   background: #FF4E00;
   color: #fff; 
}

/* Products Styles */

.main-title {
    margin-top: 2.5em;
    margin-left: .5em;
}

.container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
}

.product::before {
    content: "New";
    background: #FF4E00;
    padding: 10px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: -16px;
    transform: rotate(-90deg);
    color: #fff;
}

.product__title {
    text-align: center;
}

.product__price {
    color: #FF4E00;
    font-family: "Poppins Bold";
}

.product__icon {
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.product:hover .product__icon{
    color: #FF4E00;
}

.product__img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.container-testimonials {
    text-align: center;
    background-color: #F7F7F7;
    padding: 20px;
    margin: 20px 0;
}

.testimonial__text {
    color: #777;
}

.container-editor {
    margin-top: 50px;
}

.editor__item {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.editor__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editor__circle {
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    padding: 20px;
    padding-bottom: 70px;
    padding-right: 50px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s;
}

.editor__item:hover .editor__circle {
    transform: scale(1.2);
    bottom: -90px;   
    right: -40px;
}

.editor__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: all 0.5s;
}

.editor__item:hover::before {
    opacity: 1;
}

.container-tips {
    margin: 20px 0;
    text-align: center;
}

.tip i {
    font-size: 2em;
    color: #333;
    padding: 20px 0;
}

.tip .btn-shop {
    color: #000;
}

.btn-shop:hover {
    color: #fff;
}

.main-footer {
    background: #151515;
    color: #fff;
    padding: 30px 20px;
}

.footer__text {
    color: #777;
}

.footer__link {
    color: #999;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.footer__title {
    border-bottom: 1px solid #777;
    padding-bottom: 20px;
}

.footer__title-orange {
    color: #FF4E00;
}

.footer__input {
    background: #151515;
    border: 1px solid #777;    
    outline: none;
    width: 100%;
    display: block;
    padding: 20px;
    color: #fff;
}

.copy {
    color: #777;
}

/* Tablet Styles */
@media screen and (min-with: 768px) {
    .slider {
        height: 400px;
    }

    .editor__item {
        height: 250px;
    }
}

/* Web Styles */
@media screen and (min-width: 1024px) {
    .container {
        width: 1000px;
        margin: auto;
    }

    .icon-menu {
        display: none; /* !important */
    }

    .main-header .container--flex {
        display: flex;
        align-items: center;
    }

    .main-header__container { 
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .main-header__container .main-header__link, 
    .main-header__container .main-header__btn {
        position: -webkit-sticky;
        position: sticky;
        left: -100px;
    }
    
    .main-header__container p, .main-header__container span {
        display: none;
    }

    .main-header__container:nth-child(2) {
        order: -1;
        width: 25%;
    }

    .main-header__container:nth-child(3) {
        width: 25%;
        padding: 0 20px;
    }

    .main-header__title {
        width: 100%;
        font-size: 4em;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }

    .main-header__link {
        margin-bottom: 20px;
    }

    .main-header__btn {
        width: 130px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .main-header__input {
        width: 85%;
    }

    .main-nav {
        visibility: visible;
        width: 100%;
        opacity: 1;
        margin-top: 20px;
    }

    .menu {
        position: static;
        display: flex;
        background: none;
    }

    .menu__link {
        color: #777;
    }

    .menu__link:hover {
        background: #333;
        color: #fff;
    }

    .container-products {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }

    .product__img {
        height: 150px;
    }
}

/* Variants */
@media screen and (min-with: 1280px) {
    .container {
        width: 1200px;
    }

    .main-header__container:nth-child(3) {
        padding-left: 60px;
    }

    .main-header__container:nth-child(2) {
        font-size: 1.3em;
    }

    .slider {
        height: 500px;
    }
}

@media screen and (min-with: 1600px) {
    .container {
        width: 1500px;
    }

    .main-header__container:nth-child(3) {
        padding-left: 150px;
    }

    .main-header__container:nth-child(2) {
        font-size: 1.5em;
    }

    .slider{
        height: 600px;
    }

    .product__img {
        height: 200px;
    }
}